<div class="container">
    <div class="left-column">
        <h1>Vamos lá!</h1>
        <div class="user-form">
            <div>
                <h2>Envie uma nova imagem</h2>
                <label for="file-upload" class="custom-file-upload">
                    <i class="fa fa-cloud-upload"></i> Selecionar imagem
                </label>
                <input #fileInput id="file-upload" type="file" (change)="handleFileInput($event.target.files)"/>
            </div>

            <div>
                <h2>Procure por imagens já processadas</h2>
                <div class="inline-input">
                    <input type="text" [(ngModel)]='queryKey' placeholder="Pesquisar por chave" />
                    <button (click)="query()">Pesquisar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="right-column">
        <div *ngIf='hasImage()'>
            <img class='detection' src='{{ url }}' />
            <h3>Chave: {{ key }}</h3>
        </div>

        <div *ngIf='!hasImage()'>
            <h1>Nenhuma imagem a ser exibida</h1>
        </div>
    </div>
</div>

<div class="waiting" [class.not-anymore]="done" >
    <div class="loader">
    </div>
</div>
