/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css?family=Lobster|Signika');

h1 {
    font-size: 300%;
    font-family: 'Lobster', cursive;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: 'Signika', sans-serif;
    font-weight: bold;
    color: #DDD;
}

.waiting {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #222;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s;
    opacity: 1;
}

.waiting.not-anymore {
    opacity: 0;
    pointer-events:none;
}

.loader {
    border: 16px solid #eee; /* Light grey */
    border-top: 16px solid #45ADA8; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

input[type="file"] {
    display: none;
}
.custom-file-upload {
    border: 1px solid #ddd;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
}

input[type=text] {
    padding: 5px;
    font-family: 'Signika', sans-serif;
    font-size: 100%;
    color: #DDD;
    border: 1px solid #ddd;
    background: rgba(255,255,255,0.0);
    margin: 0 0 10px 0;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #DDD;
    opacity: 1; /* Firefox */
}
